<a href="https://colab.research.google.com/github/TTL30/TensorFlow-Keras/blob/main/ML/LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Linear regression exercise 

Data : https://archive.ics.uci.edu/ml/datasets/Student+Performance 

Model to evaluate the final grade of a student, with the help of variables :


*   First Grade
*   Second Grade
*   Nb absences
*   Activites (Yes or No)
*   Nb Freetime
*   Nb Studytime

In [70]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import model_selection, linear_model

In [43]:
#Get data
dataset = pd.read_csv("/content/students_data/student-mat.csv", sep=";")

In [44]:
#Select variables
dataset = dataset[["G1", "G2", "G3", "absences", "activities", "freetime", "studytime"]]

In [48]:
dataset.head()

   G1  G2  G3  absences activities  freetime  studytime
0   5   6   6         6         no         3          2
1   5   5   6         4         no         3          2
2   7   8  10        10         no         3          2
3  15  14  15         2        yes         2          3
4   6  10  10         4         no         3          2

In [50]:
#Process activities to integes values
dataset["activities"].replace({"no" :0,"yes":1}, inplace=True)

In [52]:
dataset.head()

   G1  G2  G3  absences  activities  freetime  studytime
0   5   6   6         6           0         3          2
1   5   5   6         4           0         3          2
2   7   8  10        10           0         3          2
3  15  14  15         2           1         2          3
4   6  10  10         4           0         3          2

In [53]:
#Get label for Y axis
y_label = dataset.pop("G3")

In [ ]:
print(dataset.head(),"\n")
print(y_label.head())

In [54]:
#Conversion to np array
x_labels = np.array(dataset)
y_label = np.array(y_label)

In [69]:
#Split the data to train et test datasets
X_train, X_test, Y_train, Y_test = sklearn.model_selection.train_test_split(x_labels, y_label, test_size = 0.1)

In [71]:
#Creation of the linearRegression model
model = linear_model.LinearRegression()

In [ ]:
#Training of the model
model.fit(X_train, Y_train)

In [79]:
#Get the accuracy
accuracy = model.score(X_test, Y_test)

In [80]:
print("Model accuracy : ","{:.2f}".format(accuracy*100), "%")

Model accuracy :  83.39 %